* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#toolbar{
    position:fixed;
}

#myCanvas {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#undo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#redo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#clear{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#logout {
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid #e7e7e7;
    background: #eee;
}