* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    min-width: 1200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Verdana,Geneva,sans-serif; 
    /* background credit : Photo by Alicia Zinn from Pexels https://www.pexels.com/photo/woman-with-red-nails-painting-green-stripe-on-canvas-159983/ */
    background: linear-gradient(rgba(109, 109, 109, 0.35), rgba(90, 90, 90, 0.85)), url("../media/background_0.jpeg");
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

html, body {
    overflow-x: auto;
    overflow-y: auto;
}

.label {
    padding: 10px;
}

.highlight {
    font-weight: bold;
}

#popup {
    position: absolute;
    width: 650px;
    height: 60px;
    background: rgba(0,0,0,0.8);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    border: 2px solid #fff;
    color: #fff;
    -webkit-box-shadow: 0px 0px 82px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 82px -13px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 82px -13px rgba(0,0,0,0.75);
}

#submit-word {

    color: #fff;
    width: 80px;
}

#submit-word:hover {

    color: #333;
}

header {
    width: 100%;
    height: 10%;
    background: none;
    -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
    background: #fff;
    margin: 0;
    padding: 0;
    min-height: 40px;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%; 
    /*min-width: 1150px;*/
}

header a {
    text-decoration: none;
    color: #3C3D3F;
}

#title-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-title {
    font-size: 22pt;
}

#header-title:hover {
    transition-duration: 0.5s;
    text-decoration: none;
    color: rgb(39, 50, 70);
}

#nav-button-container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-btn {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background: red;
    margin-left: 20px;
    padding: 2px;
}

#logout {
    background: url("../media/logout.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#profile {
    background: url("../media/profile.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#start-container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
}

#welcom-title {
    color: #ddd;
    font-size: 48pt;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}

#gameStatus {
    flex-direction: row;
    justify-content: center;
}

#start-content {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.private-lobby-container {
    width: 60%;
    height: 90%;
    min-height: 400px;
    max-height: 100%;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: 3px solid #ddd;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.private-lobby-container .label {
    color: #ddd;
}

#pl-title {
    width: 80%;
    font-size: 18pt;
    margin-bottom: 20px;
    border-bottom: 1px solid #aaa;
}

.pl-sub-item {
    width: 49%;
    padding: 0;
    margin: 0;
    text-align: right;
}

.pl-item {
    width: 80%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.pl-item input {
    text-align: left;
    background: rgba(255,255,255,0.1);
    color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-left: 5px;
}

.pl-item .btn {
    width: 130px;
}

#pl-btn-container {
    margin-top: 20px;
}

#pl-users-list {
    width: 80%;
    height: 53%;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    border: 1px solid #aaa;
    border-radius: 5px; 
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}

.pl-user {
    width: 95%;
    height: 40px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 40px;
    color: #fff;
}

#lobby-controls {
    width: 35%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#pl-lobby-join {
    height: 45%;
    min-height: 260px;
    padding-bottom: 100px; 
}

#pl-lobby-join .pl-sub-item {
    font-size: 11pt;
    min-width: 100px;
    line-height: 11pt;
}

.queue-container {
    width: 100%;
    height: 45%;
    background: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #ddd;
    font-size: 13pt;
    text-align: center;
    border-radius: 10px;
    min-height: 200px;
    border: 3px solid #ddd;
    align-items: center;
}

.btn,
.btn::after {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.btn {
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    margin: 5px auto;
    position: relative;
    text-transform: uppercase;
    width: 150px;
    height: 50px;
    justify-content: center;
}

.btn::before,
.btn::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.btn:hover {
    color: #2ecc71;
    background: #fff;
    cursor: pointer;
}

#cancel {
    display: none; 
}

#cancel:hover {
    color: #cc2e2e;
}

#queueTimer {
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 100px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#queue-time-container {
    width: 60px;
    height: 60px;
    min-width: 60px;
    background: rgba(61, 232, 118, 1);
    box-shadow: 0 0 0 0 rgba(61, 232, 118, 0.7);
    padding: 0px;
    border-radius: 100%;
    -webkit-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1s infinite cubic-bezier(0.66, 0, 0, 1);
    justify-content: center;
    align-items: center;
    line-height: 60px;
}

#queue-time {
    color: rgb(26, 55, 41);
    font-size: 14pt;
    padding: 0;
    margin: 0;
}

.inqueue {
    display: none;
}

/* pulse animation */
@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

#toolbar{
    width: 100%;
    height: 5%;
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(rgba(54, 116, 72, 0.35), rgba(8, 114, 126, 0.85));
    color: #fff;
    margin-bottom: 0;
    padding-bottom: 0;
}

#canvas-controls {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

#canvas-controls * {
    margin: 0px;
}

.tb-btn {
    margin: 10px !important;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    height: 30px;
    background: none !important;
    border: 2px solid #fff;
}

.tb-btn:hover {
    background: #fff !important;
    color: rgb(8, 114, 126);
    cursor: pointer;
}

/* input range css: https://codepen.io/seanstopnik/pen/CeLqA?q=range&order=popularity&depth=everything&show_forks=false */

#brushSize {
    height: 10px;
    border-radius: 5px;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    height: 30px;
    width: 250px;
    margin: 5px;
    border: 1px solid #fff; 
    padding-left: 5px;
    padding-right: 5px;
    color: #fff; 
}

#brushSize::-webkit-slider-thumb {
    -webkit-appearance: none;
            appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(33, 182, 118);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

#brushSize::-webkit-slider-thumb:hover {
    background: #1abc9c;
}

#brushSize:active::-webkit-slider-thumb {
    background: #1abc9c;
}

#brushSize::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: rgb(33, 182, 118);
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
}

#brushSize::-moz-range-thumb:hover {
    background: #1abc9c;
}

#brushSize:active::-moz-range-thumb {
    background: #1abc9c;
}

#colourPanel {
    width: 30px;
    height: 30px;
    padding: 0px;
    border: none;
}

#myCanvas {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

#myCanvas:hover {
    cursor: crosshair;
}

#undo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#redo{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#clear{
    display: inline-block;
    background: #eee;
    border: 1px solid #e7e7e7;
    padding: 5px;
}

#round-info {
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    line-height: 30px;
}

.round-info-item {
    padding: 5px;
    border: 1px solid #fff;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#time-container {
    background: #cc2e2e;
    width: 30px;
    min-width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 100%;
    box-shadow: 0 0 0 0 rgba(232, 87, 61, 0.7);
    -webkit-animation: pulse-round 1s infinite cubic-bezier(0.36, 0, 0, 1);
    -moz-animation: pulse-round 1s infinite cubic-bezier(0.36, 0, 0, 1);
    -ms-animation: pulse-round 1s infinite cubic-bezier(0.36, 0, 0, 1);
    animation: pulse-round 1s infinite cubic-bezier(0.36, 0, 0, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

/* pulse animation */
@-webkit-keyframes pulse-round {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse-round {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse-round {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}
@keyframes pulse-round {to {box-shadow: 0 0 0 10px rgba(232, 76, 61, 0);}}

#container {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90%;
}

#start-container {
    display: flex;
}

#chat {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#canvas-container {
    width: 100%;
    height: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 0;
}

#canvas-cont {
    width: 77%;
    height: 100%;
    background: #fff;
    margin: 0;
    padding: 0;
}

#users-list {
    height: 15%;
    width: 100%;
    border: 2px solid #000;
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#feed {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
    background: #fff;   
    padding-top: 15px; 
}

#speech-rec-btns {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #444;
    border-top: 1px solid #aaa;
}

.fd-btn {
    width: 200px;
    color: #fff;
    filter: invert(00%);
}

#feed-input {
    width: 100%;
    height: 5%;
    border: none;
    border-top: 1px solid #aaa;
    word-wrap: break-word;
    overflow-y: auto;
}

.message {
    font-size: 11pt;
    margin: 0;
    padding: 0;
    width: 98%;
    margin-left: 2%;
    min-height: 20px;
    height: auto;
    line-height: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 0;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 10pt;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border: 1px solid #fff;
    border-radius: 100%;
}

.user-wins {
    display: flex;
    justify-content: center;
}

.user {
    text-align: center;
}

.wincount {
    color: #fff;
    font-size: 8pt;
    margin: 0;
    padding: 2px;
    background: #555;
}

@media (max-width: 1366px) {

    #start-container {
        width: 100%;
    }
}